/* Histoire de la boxe */
.histoire-boxe {
    max-width: 800px; /* Limite la largeur */
    margin: 50px auto; /* Centre la section */
    padding: 20px;
    background: rgb(160, 66, 66); /* Fond semi-transparent */
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 4px 8px rgb(200, 196, 196); /* Ombre légère */
}

.histoire-container {
    padding: 20px;
    border-left: 4px solid #672023; /* Bordure jaune */
    border-right: 4px solid #5f1e23;
    background: rgba(111, 39, 39, 0.95); /* Fond foncé pour bien contraster */
    border-radius: 10px;
}

.histoire-content {
    line-height: 1.8;
    color: #fff;
    font-size: 1.1rem;
}

.histoire-content p {
    margin-bottom: 15px;
}

.histoire-boxe h2 {
    text-align: center;
    font-size: 2rem;
    color: #6a2f2f;
    margin-bottom: 20px;
    text-transform: uppercase;
}
