/* Styles pour la page des statistiques des boxeurs */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #653456;
    margin: 0;
    padding: 0;
}

header {
    background-color: #160f20b7;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1,5%;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #48273f;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn-view {
    background-color: #582640;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-view:hover {
    background-color: #740041;
}

/* Bouton de retour à l'accueil */
.btn-home {
    display: inline-block;
    background-color: #4a0f3e;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-home:hover {
    background-color: #2e2046;
}


